In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

# Import API key
from doe_api import doe_key

In [ ]:
#By Income

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params2 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "latest.root.id,latest.root.location.lon,"+
    "latest.root.location.lat,latest.school.name,"+
    
    #median income
    "latest.student.demographics.median_family_income,"+
    "latest.student.demographics.median_hh_income"+
    
    #low income
    #general completion
    #"latest.completion.title_iv.low_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.low_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.low_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.low_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.8yrs,"+
    
    #middle income
    #general completion
    #"latest.completion.title_iv.mid_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.mid_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.mid_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.mid_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.8yrs,"+
    
    #high income
    #general completion
    #"latest.completion.title_iv.high_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.high_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.high_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.high_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.8yrs"+
    
    #page marker
    'page=0'
    
    
}

In [ ]:
# Initialize an empty list to store the data
income_data = []
#starting page is 0
params2['page'] = 0

#loop that will loop through the page until we reach page 6
while params2['page'] < 7:
    #api call
    response = requests.get(url, params=params2).json()
    next_page_results = response.get("results", [])
    income_data.extend(next_page_results)
    #to go to the next page of results
    params2['page'] += 1

In [ ]:
income_df = pd.DataFrame(income_data)
#income_df = income_df.fillna(0)
income_df.columns

In [ ]:
income_clean = income_df.rename(columns={
    'latest.school.name':'School Name',
    'latest.student.demographics.median_family_income':'Median Family Income',
    #'latest.completion.title_iv.low_inc.completed_by.3yrs':'Percent of Low Income that completed within 3 years',
    'latest.completion.title_iv.low_inc.completed_by.4yrs': '% of Low Income that completed within 4 years',
    'latest.completion.title_iv.low_inc.completed_by.6yrs': '% of Low Income that completed within 6 years',
    'latest.completion.title_iv.low_inc.completed_by.8yrs': '% of Low Income that completed within 8 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.2yrs': '% of Low Income that withdrew within 2 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.3yrs': '% of Low Income that withdrew within 3 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.4yrs': '% of Low Income that withdrew within 4 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.6yrs': '% of Low Income that withdrew within 6 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.8yrs':'% of Low Income that withdrew within 8 years',
    'latest.completion.title_iv.mid_inc.completed_by.3yrs': '% of Middle Income that completed within 3 years',
    'latest.completion.title_iv.mid_inc.completed_by.4yrs': '% of Middle Income that completed within 4 years',
    'latest.completion.title_iv.mid_inc.completed_by.6yrs': '% of Middle Income that completed within 6 years',
    'latest.completion.title_iv.mid_inc.completed_by.8yrs': '% of Middle Income that completed within 8 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.2yrs': '% of Middle Income that withdrew within 2 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.3yrs': '% of Middle Income that withdrew within 3 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.4yrs': '% of Middle Income that withdrew within 4 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.6yrs': '% of Middle Income that withdrew within 6 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.8yrs': '% of Middle Income that withdrew within 8 years',
    'latest.completion.title_iv.high_inc.completed_by.3yrs':'% of High Income that withdrew completed 3 years',
    'latest.completion.title_iv.high_inc.completed_by.4yrs':'% of High Income that withdrew completed 4 years',
    'latest.completion.title_iv.high_inc.completed_by.6yrs':'% of High Income that withdrew completed 6 years',
    'latest.completion.title_iv.high_inc.completed_by.8yrs':'% of High Income that withdrew completed 8 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.2yrs':'% of High Income that withdrew within 2 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.3yrs':'% of High Income that withdrew within 3 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.4yrs':'% of High Income that withdrew within 4 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.6yrs':'% of High Income that withdrew within 6 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.8yrs':'% of High Income that withdrew within 8 years'
    })

In [ ]:
income_clean.columns

In [ ]:
income_clean

In [ ]:
income_clean['% of Low Income that completed within 4 years'] = income_clean['% of Low Income that completed within 4 years'] * 100
income_clean['% of Low Income that completed within 6 years'] = income_clean['% of Low Income that completed within 6 years'] * 100
income_clean['% of Low Income that completed within 8 years'] = income_clean['% of Low Income that completed within 8 years'] * 100
income_clean['% of Low Income that withdrew within 2 years'] = income_clean['% of Low Income that withdrew within 2 years'] * 100
income_clean['% of Low Income that withdrew within 3 years'] = income_clean['% of Low Income that withdrew within 3 years'] * 100
income_clean['% of Low Income that withdrew within 4 years'] = income_clean['% of Low Income that withdrew within 4 years'] * 100
income_clean['% of Low Income that withdrew within 6 years'] = income_clean['% of Low Income that withdrew within 6 years'] * 100
income_clean['% of Low Income that withdrew within 8 years'] = income_clean['% of Low Income that withdrew within 8 years'] * 100
income_clean['% of Middle Income that completed within 3 years'] = income_clean["% of Middle Income that completed within 3 years"] * 100
income_clean['% of Middle Income that completed within 4 years'] = income_clean['% of Middle Income that completed within 4 years'] * 100
income_clean['% of Middle Income that completed within 6 years'] = income_clean['% of Middle Income that completed within 6 years'] * 100
income_clean['% of Middle Income that completed within 8 years'] = income_clean['% of Middle Income that completed within 8 years'] * 100
income_clean['% of Middle Income that withdrew within 2 years'] = income_clean['% of Middle Income that withdrew within 2 years'] * 100
income_clean['% of Middle Income that withdrew within 3 years'] = income_clean['% of Middle Income that withdrew within 3 years'] * 100
income_clean['% of Middle Income that withdrew within 4 years'] = income_clean['% of Middle Income that withdrew within 4 years'] * 100
income_clean['% of Middle Income that withdrew within 6 years'] = income_clean['% of Middle Income that withdrew within 6 years'] * 100
income_clean['% of Middle Income that withdrew within 8 years'] = income_clean['% of Middle Income that withdrew within 8 years'] * 100
income_clean['% of High Income that withdrew completed 3 years'] = income_clean['% of High Income that withdrew completed 3 years'] * 100
income_clean['% of High Income that withdrew completed 4 years'] = income_clean['% of High Income that withdrew completed 4 years'] * 100
income_clean['% of High Income that withdrew completed 6 years'] = income_clean['% of High Income that withdrew completed 6 years'] * 100
income_clean['% of High Income that withdrew completed 8 years'] = income_clean['% of High Income that withdrew completed 8 years'] * 100
income_clean['% of High Income that withdrew within 2 years'] = income_clean['% of High Income that withdrew within 2 years'] * 100
income_clean['% of High Income that withdrew within 3 years'] = income_clean['% of High Income that withdrew within 3 years'] * 100
income_clean['% of High Income that withdrew within 4 years'] = income_clean['% of High Income that withdrew within 4 years'] * 100
income_clean['% of High Income that withdrew within 6 years'] = income_clean['% of High Income that withdrew within 6 years'] * 100
income_clean['% of High Income that withdrew within 8 years'] = income_clean['% of High Income that withdrew within 8 years'] * 100

In [ ]:
income_clean

In [ ]:
#income_clean = income_clean.drop_duplicates(subset='School Name')
#income_clean = income_clean.set_index('School Name')
#income_clean.to_json('income_clean.json' , orient = 'index', compression = 'infer' , index = 'true')
#income_clean.to_csv('income_clean.csv')
income_clean

In [ ]:
income_clean.to_csv('income_clean.csv')

In [8]:
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params2 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields':'latest.admissions.sat_scores.average.overall,'+
    'latest.student.size,'+
    'latest.admissions.test_requirements,'+
    'latest.completion.completion_rate_4yr_150nt,'+
    'latest.admissions.admission_rate.overall,'+
    'latest.completion.title_iv.completed_by.4yrs,'+

    
    #page marker
    'page=0'
    
    
}

In [9]:
# Initialize an empty list to store the data
income_data = []
#starting page is 0
params2['page'] = 0

#loop that will loop through the page until we reach page 6
while params2['page'] < 7:
    #api call
    response = requests.get(url, params=params2).json()
    next_page_results = response.get("results", [])
    income_data.extend(next_page_results)
    #to go to the next page of results
    params2['page'] += 1

In [10]:
income_df = pd.DataFrame(income_data)
#income_df = income_df.fillna(0)
income_df.columns

Index(['latest.admissions.sat_scores.average.overall', 'latest.student.size',
       'latest.admissions.test_requirements',
       'latest.completion.completion_rate_4yr_150nt',
       'latest.admissions.admission_rate.overall',
       'latest.completion.title_iv.completed_by.4yrs'],
      dtype='object')

In [16]:
income_clean = income_df.rename(columns={
    'latest.admissions.sat_scores.average.overall':'Average SAT Scores',
    'latest.student.size':'Student Count',
    'latest.admissions.test_requirements':'Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)',
    'latest.completion.completion_rate_4yr_150nt': '4Yr Uni Completion Rates',
    'latest.admissions.admission_rate.overall':'Admission Rate',
    'latest.completion.title_iv.completed_by.4yrs' : 'Retention Rate'
    })

In [12]:
income_clean.columns

Index(['Average SAT Scores', 'Student Count',
       'Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)',
       '4Yr Uni Completion Rates', 'Admission Rate', 'Retention Rate'],
      dtype='object')

In [13]:
income_clean

,Average SAT Scores,Student Count,"Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)",4Yr Uni Completion Rates,Admission Rate,Retention Rate
0,954.0,5098.0,5.0,0.2807,0.7160,0.222367
1,1266.0,13284.0,5.0,0.6245,0.8854,0.454072
2,NaN,251.0,NaN,0.4444,NaN,0.132812
3,1300.0,7358.0,1.0,0.6072,0.7367,0.369397
4,955.0,3495.0,5.0,0.2843,0.9799,0.246203
...,...,...,...,...,...,...
695,NaN,435.0,NaN,NaN,NaN,NaN
696,NaN,2501.0,2.0,0.7059,0.4869,0.640187
697,NaN,379.0,NaN,NaN,NaN,0.469697
698,1063.0,6456.0,5.0,0.4625,0.7066,0.288312
699,NaN,20107.0,NaN,0.3612,NaN,0.250243

In [14]:
income_clean = income_df.fillna(0)

In [17]:
income_clean

,Average SAT Scores,Student Count,"Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)",4Yr Uni Completion Rates,Admission Rate,Retention Rate
0,954.0,5098.0,5.0,0.2807,0.7160,0.222367
1,1266.0,13284.0,5.0,0.6245,0.8854,0.454072
2,NaN,251.0,NaN,0.4444,NaN,0.132812
3,1300.0,7358.0,1.0,0.6072,0.7367,0.369397
4,955.0,3495.0,5.0,0.2843,0.9799,0.246203
...,...,...,...,...,...,...
695,NaN,435.0,NaN,NaN,NaN,NaN
696,NaN,2501.0,2.0,0.7059,0.4869,0.640187
697,NaN,379.0,NaN,NaN,NaN,0.469697
698,1063.0,6456.0,5.0,0.4625,0.7066,0.288312
699,NaN,20107.0,NaN,0.3612,NaN,0.250243

In [20]:
#income_clean = income_clean.drop_duplicates(subset='School Name')
income_clean.to_json('MainTable6Values.json' , orient = 'index', compression = 'infer' , index = 'true')