In [14]:
import json
import os
import pandas as pd

In [15]:
# Create an empty list to store the JSON objects
json_objects = []

# Get the path to the JSON files
path = os.path.join(os.getcwd(), "data")

# Iterate over the JSON files
for file in os.listdir(path):
    # Read the JSON file
    with open(os.path.join(path, file), "r") as f:
        json_object = json.load(f)
        # Add the JSON object to the list
        json_objects.append({file[:-5]: json_object})

# Convert the list of JSON objects to a JSON array
json_array = json.dumps(json_objects, indent=4)

# Write the JSON array to a file
with open("data/compiled_data.json", "w") as f:
    f.write(json_array)

In [5]:
#demo_graph = pd.read_json('data/demograph.json', orient ='index')

In [6]:
#demo_graph

,Average SAT Scores,Student Count,"Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)",4Yr Uni Completion Rates,Admission Rate,Retention Rate,ZIP,my_column_duplicate
Alabama A & M University,954,5098,5,0.28,0.72,0.22,35762,Alabama A & M University
University of Alabama at Birmingham,1266,13284,5,0.62,0.89,0.45,35294-0110,University of Alabama at Birmingham
University of Alabama in Huntsville,1300,7358,1,0.61,0.74,0.37,35899,University of Alabama in Huntsville
Alabama State University,955,3495,5,0.28,0.98,0.25,36104-0271,Alabama State University
The University of Alabama,1244,30725,5,0.72,0.79,0.58,35487-0100,The University of Alabama
...,...,...,...,...,...,...,...,...
Milligan University,1197,770,1,0.70,0.60,0.65,37682,Milligan University
Emory University-Oxford College,1480,1066,5,0.00,0.20,0.88,30054,Emory University-Oxford College
Purdue University Northwest,1098,6396,5,0.40,0.76,0.33,46323,Purdue University Northwest
The Southwestern Baptist Theological Seminary,1154,251,5,0.29,1.00,0.00,76115,The Southwestern Baptist Theological Seminary
The Pennsylvania State University,1260,72229,5,0.72,0.92,0.57,16802-1503,The Pennsylvania State University

In [8]:
#demo_graph = demo_graph.drop(columns = ['ZIP'])

In [11]:
#demo_graph = demo_graph.rename(columns = {'my_column_duplicate':'School Name'})

In [12]:
#demo_graph

,Average SAT Scores,Student Count,"Standardized Test required? (1:Required, 2:Recommended, 3:Neither required nor recommended , 4:Do not know, 5: Considered but not required)",4Yr Uni Completion Rates,Admission Rate,Retention Rate,School Name
Alabama A & M University,954,5098,5,0.28,0.72,0.22,Alabama A & M University
University of Alabama at Birmingham,1266,13284,5,0.62,0.89,0.45,University of Alabama at Birmingham
University of Alabama in Huntsville,1300,7358,1,0.61,0.74,0.37,University of Alabama in Huntsville
Alabama State University,955,3495,5,0.28,0.98,0.25,Alabama State University
The University of Alabama,1244,30725,5,0.72,0.79,0.58,The University of Alabama
...,...,...,...,...,...,...,...
Milligan University,1197,770,1,0.70,0.60,0.65,Milligan University
Emory University-Oxford College,1480,1066,5,0.00,0.20,0.88,Emory University-Oxford College
Purdue University Northwest,1098,6396,5,0.40,0.76,0.33,Purdue University Northwest
The Southwestern Baptist Theological Seminary,1154,251,5,0.29,1.00,0.00,The Southwestern Baptist Theological Seminary
The Pennsylvania State University,1260,72229,5,0.72,0.92,0.57,The Pennsylvania State University

In [13]:
#demo_graph.to_json('data/demograph.json', orient = 'index', compression = 'infer', index = 'true')